// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.signup_yet{
  margin-top: 20px;
  font-weight: bold;
  color: rgb(237, 20, 20);
}

.user_info{
  text-align: center;
}

.user_info h3{
  color: blue;
}

.user_info h4{
  margin:20px 0;
}
